<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <tittle>HomePage</Tittle>
  </head>
  <style>
  table {
      border-collapse: collapse;
  }
  td,th{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  tr:nth-child(even){
      background-color:#dddddd;
  }
  </style>
  <body>
    <h1>HomePage</h1>
    <a href= "/invi">Inventory</a><br>
    <a href="/signup">Login</a><br>
        {{if .Steamid}}
        <br>User Name {{.Username}}<br>
        Password {{.Password}}<br>
        SteamId {{.Steamid}}<br>
        Friends<br>
    {{end}}
    <table >
        <tr>
            <th>Steam Name</th>
            <th>Steamid 64</th>
        </tr>
    {{range $name,$steamid := .Friends}}
        <tr>
            <td>{{$name}}</td>
            <td><a href="http://steamcommunity.com/profiles/{{$steamid}}" target="_blank">{{$steamid}}</a></td>
        </tr>
    {{end}}
    </table>
  </body>
  </html>
